<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-account">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--<h2>Hello [[prop1]]!</h2>-->
    <h2>Datos de cuentas de usuario</h2>
    <template is="dom-repeat" items="{{accounts}}">
      <h3>IBAN: {{item.IBAN}}</h3>
      <h3>Balance: {{item.balance}}</h3>
      </br>
    </template>
    <iron-ajax
      auto=""
      id="getUserAccount"
      url="http://localhost:3000/apitechu/v2/users/{{idUser}}/accounts"
      handle-as="json"
      on-response="showData"></iron-ajax>
    <!--
    <input type="text" value="{{id::input}}"/>
    <input type="text" value="{{email::input}}"/>
    <input type="text" value="{{first_name::input}}"/>
    <input type="text" value="{{last_name::input}}"/>
    -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAccount extends Polymer.Element {
      static get is() { return 'visor-account'; }
      static get properties() {
        return {
          accounts:{
            type:Array
          },
          idUser:{
            type: Number,
            value:2
          }/*,
          IBAN: {
            type: String
          },
          balance:{
            type: Number,
          },
          id:{
            type: Number,
          }*/
        };
      }
      showData(data){
        console.log('showData:');
        console.log(data.detail.response);
        //console.log(data.detail.response);
        /*
        this.IBAN = data.detail.response[0].IBAN;
        this.idUser = data.detail.response[0].idUser;
        this.balance = data.detail.response[0].balance;
        this.id = data.detail.response[0].id;
        */
        this.accounts=data.detail.response;
      }
    }

    window.customElements.define(VisorAccount.is, VisorAccount);
  </script>
</dom-module>
