<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="fromproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--<h2>Hello [[prop1]]!</h2>-->
    <h2>Soy [[first_name]] [[last_name]] </h2>
    <h3>y tengo [[age]] años</h3>
    <input type="text" value="{{first_name::input}}"/>
    <input type="text" value="{{last_name::input}}"/>
    <input type="range" min="1" value="{{age::input}}" max="100"/>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FromproyectoApp extends Polymer.Element {
      static get is() { return 'fromproyecto-app'; }
      static get properties() {
        return {
          prop1: {
            type: String/*,
            value: 'mundo'*/
          },
          first_name:{
            type: String/*,
            value: 'Nombre'*/
          },
          last_name:{
            type: String/*,
            value: 'apellido'*/
          },
          age:{
            type: Number/*,
            value:1*/
          }
        };
      }
    }

    window.customElements.define(FromproyectoApp.is, FromproyectoApp);
  </script>
</dom-module>
