<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<h2>Hello [[prop1]]!</h2>-->
    <input type="text" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button class="btn btn-success" id="prueba" on-click="login">Login</button>
    <button class="btn btn-warning" id="prueba2" on-click="logout">Logout</button>
    <span hidden$="{{!logged}}">Bienvenido a casa Johnny</span>
    <iron-ajax
      id="doLogin"
      method="POST"
      content-type="application/json"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      on-error="showError"
      on-response="manageAJAXResponse"></iron-ajax>
    <!--
    <input type="text" value="{{id::input}}"/>
    <input type="text" value="{{email::input}}"/>
    <input type="text" value="{{first_name::input}}"/>
    <input type="text" value="{{last_name::input}}"/>
    -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String/*,
            value: 'mundo'*/
          },
          password:{
            type: String/*,
            value: 'Nombre'*/
          },
          first_name:{
            type: String/*,
            value: 'nombre'*/
          },
          last_name:{
            type: String/*,
            value: 'apellido'*/
          },
          id:{
            type: Number/*,
            value:1*/
          },
          logged:{
            type: Boolean,
            value:false
          }
        };
      }
      /*
      showData(data){
        console.log('showData');
        //console.log(data.detail.response);
        //this.first_name = data.detail.response.first_name;
        //this.last_name = data.detail.response.last_name;
        //this.email = data.detail.response.email;
      }*/
      manageAJAXResponse(data){
        console.log("respuesta: ");
        console.log(data.detail.response);
        this.logged=true;
      }
      showError(error){
        console.log("error:");
        console.log(error);
        this.logged=false;
      }
      login(){
        console.log('boton login pulsado');
        var loginData={
          "email":this.email,
          "password":this.password
        }
        //debugger;
        //console.log(this);
        //console.log(this.$);
        //console.log(this.$.prueba);
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticcion enviada");
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
