<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--<h2>Hello [[prop1]]!</h2>-->
    <h1>Soy el receptor del evento</h1>
    <h2>Este es el course: {{course}}</h3>
    <h2>En el año: {{year}}</h3>
    <!--
    <input type="text" value="{{id::input}}"/>
    <input type="text" value="{{email::input}}"/>
    <input type="text" value="{{first_name::input}}"/>
    <input type="text" value="{{last_name::input}}"/>
    -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course: {
            type: String
          },
          year: {
            type: Number
          }
        }
      };
      showData(data){
        console.log('El receptor tiene los datos');
        console.log(data);
        this.course=data.course;
        this.year=data.year;
      }
      /*
      showData(data){
        console.log('showData');
        //console.log(data.detail.response);
        //this.first_name = data.detail.response.first_name;
        //this.last_name = data.detail.response.last_name;
        //this.email = data.detail.response.email;
      }*/
    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
