<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--<h2>Hello [[prop1]]!</h2>-->
    <h1>Soy el emisor del evento</h1>
    <button on-click="sendEvent">Send</button>
    <!--
    <input type="text" value="{{id::input}}"/>
    <input type="text" value="{{email::input}}"/>
    <input type="text" value="{{first_name::input}}"/>
    <input type="text" value="{{last_name::input}}"/>
    -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {
        }
      };
      sendEvent(e){
        console.log('boton pulsado');
        console.log(e);
        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "detail": {
                "course":"TechU",
                "year":2018
              }
            }
          )
        );
      }
      /*
      showData(data){
        console.log('showData');
        //console.log(data.detail.response);
        //this.first_name = data.detail.response.first_name;
        //this.last_name = data.detail.response.last_name;
        //this.email = data.detail.response.email;
      }*/
    }

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
