<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--<h2>Hello [[prop1]]!</h2>-->
    <h2>Datos de usuario</h2>
    <h3>Mail: {{email}}</h3>
    <h4>Nombre: {{first_name}} {{last_name}}</h4>
    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"></iron-ajax>
    <!--
    <input type="text" value="{{id::input}}"/>
    <input type="text" value="{{email::input}}"/>
    <input type="text" value="{{first_name::input}}"/>
    <input type="text" value="{{last_name::input}}"/>
    -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          email: {
            type: String/*,
            value: 'mundo'*/
          },
          first_name:{
            type: String/*,
            value: 'Nombre'*/
          },
          last_name:{
            type: String/*,
            value: 'apellido'*/
          },
          id:{
            type: Number/*,
            value:1*/
          }
        };
      }
      showData(data){
        console.log('showData');
        //console.log(data.detail.response);
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
