<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="page-not-found">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--<h2>Hello [[prop1]]!</h2>-->
    <h1>Aqui no hay nada que ver</h1>
    <!--
    <input type="text" value="{{id::input}}"/>
    <input type="text" value="{{email::input}}"/>
    <input type="text" value="{{first_name::input}}"/>
    <input type="text" value="{{last_name::input}}"/>
    -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      
      /*
      showData(data){
        console.log('showData');
        //console.log(data.detail.response);
        //this.first_name = data.detail.response.first_name;
        //this.last_name = data.detail.response.last_name;
        //this.email = data.detail.response.email;
      }*/
    }

    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
