<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/emisor-evento/emisor-evento.html">
<link rel="import" href="/src/receptor-evento/receptor-evento.html">

<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--<h2>Hello [[prop1]]!</h2>-->
    <h1>Soy el gestor del evento</h1>
    <emisor-evento on-myevent="processEvent"></emisor-evento>
    <receptor-evento id="receiver"></receptor-evento>
    <!--
    <input type="text" value="{{id::input}}"/>
    <input type="text" value="{{email::input}}"/>
    <input type="text" value="{{first_name::input}}"/>
    <input type="text" value="{{last_name::input}}"/>
    -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {
        }
      };
      processEvent(e)
      {
        console.log('Evento capturado por el gestor');
        console.log(e);
        this.$.receiver.showData(e.detail);
      }
      /*
      showData(data){
        console.log('showData');
        //console.log(data.detail.response);
        //this.first_name = data.detail.response.first_name;
        //this.last_name = data.detail.response.last_name;
        //this.email = data.detail.response.email;
      }*/
    }

    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
